@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --off-white: #f5f4f2;
  --brand--200: #dcd5cf;
  --old-black: #2c2b2a;
  --midnights: #232a2c;
  --silver-slate: #5b838f;
  --ocean-blue: #205771;
  --red: #a42220;
}

body {
  color: var(--midnights);
  background: var(--off-white);
  font-family: "Mulish", serif;
  top: 0 !important;
}

p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  color: var(--old-black);
}

nav ul li a:after {
  display: block;
  content: "";
  width: inherit;
  border-bottom: solid 3px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

nav a:hover:after {
  transform: scaleX(1);
}

.card {
  perspective: 1000px;
}

.card__content {
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 100%;
  position: relative;
}

.group:hover .card__content {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.card__front {
  z-index: 2;
}

.card__back {
  transform: rotateY(180deg);
}

/* Pagination bullet color */

.swiper-pagination-bullet {
  background-color: #dcd5cf !important;
  opacity: 0.6 !important;
}

/* Active bullet color */

.swiper-pagination-bullet-active {
  background-color: #dcd5cf !important;
  opacity: 1 !important;
}

.swiper-wrapper {
  display: flex;
}

.cont {
  animation: move 8s linear infinite alternate;
}

body > .skiptranslate {
  display: none !important;
}
.goog-te-gadget img {
  display: none !important;
}
