@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --off-white: #f5f4f2;
  --brand--200: #dcd5cf;
  --old-black: #2c2b2a;
  --midnights: #232a2c;
  --silver-slate: #5b838f;
  --ocean-blue: #205771;
  --red: #a42220;

}

body {
  color: var(--midnights);
  background: var(--off-white);
  font-family: "Mulish", serif;
}

p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  color: var(--old-black);
}

nav ul li a:after {
  display:block;
  content: '';
  width: inherit;
  border-bottom: solid 3px #fff;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

nav a:hover:after { 
  transform: scaleX(1);
}


.card {
  perspective: 800px;
}

.card__content {
  transform-style: preserve-3d;
}

.card__front,
.card__back {
  backface-visibility: hidden;
}

.card__back {
  transform: rotateY(180deg);
}

.card__content:hover {
  transform: rotateY(180deg);
}


/* Pagination bullet color */

.swiper-pagination-bullet {
  background-color: #dcd5cf !important;
  opacity: 0.6 !important;
}
 
/* Active bullet color */

.swiper-pagination-bullet-active {
  background-color: #dcd5cf !important;
  opacity: 1 !important;
}
 
.cont {
  animation: move 8s linear infinite alternate;
}
 
