@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: auto;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 4px solid var(--midnights);
  }
}

:root {
  --off-white: #f5f4f2;
  --brand--200: #dcd5cf;
  --old-black: #2c2b2a;
  --midnights: #232a2c;
  --silver-slate: #546d74;
  --ocean-blue: #205771;
  --red: #cf0620;

}

body {
  color: var(--midnights);
  background: var(--off-white);
  font-family: "Mulish", serif;
}

p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  color: var(--old-black);
}

nav ul li a:after {
  display:block;
  content: '';
  width: inherit;
  border-bottom: solid 3px #fff;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

nav a:hover:after { transform: scaleX(1); }
